.page-wrapper {
  width: 100%;
  margin: 0;
}
.header {
  display: flex;
  flex-direction: column; 
  align-items: start;
  justify-content: start;
  height: 24rem;
  width: 100%;
  margin: 0;
  border-bottom: solid gray;
}
.heading {
  margin-top: 5rem;
  margin-left: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  color: rgb(73, 73, 73);
}
.h-btn {
  height: 5rem;
  width: 8rem;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  position: relative;
}
/* .bg-white{
    background-color: white;
    min-height: 300px;
}
.bg-blue{
    background-color: #7EA3CF;
    min-height: 400px;
}
.bg-gray{
    background-color: #404040;
    min-height: 100px;
}
.bg-gray a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
}
.vtmain{
    background-image: url(images/vault-tec-bg.jpg);
    background-size: cover;
    min-height: 500px;
    background-position: center top;
}
.txtwhite{
    font-family: sans-serif;
    color: white;
}
.mg-t-r1{
    margin-top: 200px;
}
.mg-t-r2{
    margin-top: 80px;
    margin-bottom: 60px;
}
.mg-t-r3{
    margin-top: 60px;
}
.mg-t-r4{
    margin-top: 400px;
}
.mg-t-r5{
    margin-top: 30px;
}
.satellite-img{
    background-image: url(images/satellite-map-images-12-generating-realistic-imagery-with-deep-neural-networks.jpg);
    background-size: cover;
    min-height: 500px;
}
.join{
    position: absolute;
    background-color: rgba(255, 255, 255, .1);
    padding: 2%;
    border-top: 1px solid white;
    border-right: 1px solid white;
}
.features img{
    display: block;
}
.col-sm-6 img {
    width: 2rem;
} */
